<div class="example-sidenav-content">

  <mat-toolbar color="primary" class="toolbar">
    <button
      (click)="drawer.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span appFontSize>
      MyWorkshop  </span>
      <mat-icon>person</mat-icon>
    <span class="example-spacer"></span>

  </mat-toolbar>
</div>


<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">

    <img width="50" height="50" src="{{(authUser$ | async)?.avatar}}">

    <p>{{ (authUser$ | async)?.nombre }}</p>
    <p>{{ (authUser$ | async)?.apellido }}</p>
    <p>{{ (authUser$ | async)?.email }}</p>
    <p>{{ (authUser$ | async)?.role }}</p>

    <mat-nav-list>
      <ng-container *ngFor="let link of links">
        <a
          [routerLink]="link.path"
          mat-list-item
          *ngIf="
            !link.allowedRoles.length || (verifyRole(link) | async)
          "
        >
          <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
          {{ link.title }}
        </a>
    </ng-container>
      <a (click)="logout()" mat-list-item><mat-icon>logout</mat-icon>Salir</a>    
    </mat-nav-list>


  </mat-drawer>
  <main>

    <router-outlet>
    </router-outlet>
  
  </main>
 
</mat-drawer-container>
