
<ng-container *ngIf="state$ | async as state">
<table >
  <p *ngIf="state.load">CARGANDO</p>
  <ng-container *ngIf="!state.load">
    <h1>Inscripciones</h1>
    <ul>
      <li *ngFor="let inscripcion of state.inscripcionesList">
        {{ inscripcion?.alumno?.nombre + ' - ' + inscripcion?.curso?.nombre }}
        <mat-icon (click)="deleteInscriptionById(inscripcion.id)" >delete </mat-icon>
  
      </li>
    </ul>
  </ng-container>
</table>
  <button (click)="addInscripcion()" type="button" mat-button >Agregar nueva inscripcion</button>
  
</ng-container>

